.ipynb_checkpoints
.*.swp
*.pyc
scraping_weather.py
Include/
Lib/
Scripts/
share/
bin/activate_this.py
.gitignore
bin/activate.csh
bin/activate.fish
bin/activate.nu
bin/activate.ps1
bin/deactivate.nu
bin/f2py
bin/f2py3
bin/f2py3.9
bin/fonttools
bin/ipython
bin/activate
bin/ipython3
bin/jupyter
bin/jupyter-kernel
bin/jupyter-kernelspec
bin/jupyter-migrate
bin/jupyter-run
bin/jupyter-troubleshoot
bin/pip
bin/pip3
bin/pip3.9
bin/pip3.10
bin/pyftmerge
bin/pyftsubset
bin/pygmentize
bin/python
bin/python3
bin/python3.9
bin/ttx
bin/wheel
bin/wheel-3.9
bin/wheel3
bin/wheel3.9
